/* GENERICS*/
*{
    font-family: sans-serif;
}

/* UTILITIES */
section{
    min-height: 300px;
}

.white{
    color: white;
}

.black{
    color: black;
}

.light-blue{
    color: #3a6ee5;
}

.grey{
    color: gray;
}

.w-6{
    width: 6%;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.rounded-4{
    border-radius: 20px;
}

.p-top-100{
    padding-top: 100px;
}

.mt-6{
    margin-top: 100px;
}

.bg_dark{
    background-color: #1f1f1f;
}

.bg_grey{
    background-color: #bebcbb;
}

.bg_blue{
    background-color: #161c3b;
}

.bg_footer{
    background-color: #00439b;
}

.bg_white{
    background-color: white;
}

.fs-small{
    font-size: small;
}

/****** MAIN ******/
/* navbar */
.dropdown{
    position: static;
}

.dropdown-menu {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
}

/* section-returnal */
#img-returnal{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}

/* section-console */
@media screen and (min-width: 768px){

    .container-fluid #img-between{
        justify-content: space-between;
    }
 
}

/* section-it-takes-two */
#img-it-takes-two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

/* section-plus */
#g-button{
    background-color: #d9dadc;
    color: #3a6ee5;
}

/****** FOOTER ******/
footer a{
    display: block;
    color: white;
    text-decoration: none;
}

/***** HOVER *****/
/* nav hover */
.nav-item:hover .dropdown-menu{
    display: block;
}

#search{
    transition: 1s;
}

#search:hover{
    transform: scale(1.2);
}

.dropdown-menu a:hover{
    color: #3a6ee5;
    text-decoration: underline !important;
}

.dropdown-menu .col-2:hover{
    border: 3px solid gray;
}

/* returnal hover */
#gallery img{
    transition: 1s;
}

#gallery img:hover {
	transform:translate(0,-30px);
    border: 3px solid #3a6ee5;
}

/* console hover */
#img-between img:hover{
    opacity: 100% !important;
    border-bottom: 3px solid #3a6ee5;
}

/* footer hover */
footer a:hover{
    color: white;
    text-decoration: underline;
}