/* generics */
*{
    font-family: sans-serif;
}

/* utilities */
[class*="col"] {
    border: 1px solid red;
}

section{
    min-height: 300px;
}

.white{
    color: white;
}

.light-blue{
    color: #3a6ee5;
}

.grey{
    color: gray;
}

.w-6{
    width: 6%;
}

.w-40{
    width: 40%;
}

.rounded-4{
    border-radius: 40px;
}

.p-top-100{
    padding-top: 100px;
}

.p-top-50{
    padding-top: 50px;
}

.p-top-20{
    padding-top: 20px;
}

.p-bottom-50{
    padding-bottom: 50px;
}

.bg_dark{
    background-color: #1f1f1f;
}

.bg_grey{
    background-color: #bebcbb;
}

/****** MAIN ******/
/* section-returnal */
#img-returnal{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    height: 600px;
}

/* section-console */

@media screen and (min-width: 768px){

    .container-fluid #img-between{
        justify-content: space-between;
    }
 
}

/* section-it-takes-two */
#img-it-takes-two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    height: 600px;
}

/* section-plus */
#g-button{
    background-color: #d9dadc;
    color: #3a6ee5;
}